/*  ..............B E G I N		C O D E..............  */
body {
background-color: #D0D0D0;
margin-left: 0px;
margin-top: 125px;
margin-right: 0px;
margin-bottom:0px;
font-family:Calibri, Segoe UI, Trebuchet MS, Arial, sans-serif;
}